<div class="footer">
    <div>
        <dl>
            <dt>门店地址</dt>
            <dd><a href="javascript:;">查找门店</a></dd>
            <dd><a href="javascript:;">可定制美妆</a></dd>
        </dl>
    </div>
    <div>
        <dl>
            <dt>客户服务</dt>
            <dd><a href="javascript:;">联系我们</a></dd>
            <dd><a href="javascript:;">400-602-9566</a></dd>
            <dd><a href="javascript:;">常见问题</a></dd>
            <dd><a href="javascript:;">订单问题</a></dd>
            <dd><a href="javascript:;">运输信息</a></dd>
            <dd><a href="javascript:;">退换政策</a></dd>
        </dl>
    </div>
    <div>
        <dl>
            <dt>关于我们</dt>
            <dd><a href="javascript:;">品牌故事</a></dd>
            <dd><a href="javascript:;">艾滋病基金会</a></dd>
            <dd><a href="javascript:;">M·A·C魅可官网购物五大理由</a></dd>
            <dd><a href="javascript:;">>M·A·C魅可专业会员</a></dd>
        </dl>
        <dl>
                <dt>公司地址</dt>
                <dd><a href="javascript:;">上海市静安区 延安中路1228号靖安嘉里</a></dd>
                <dd><a href="javascript:;">中心三座11楼</a></dd>
               
            </dl>
    </div>
    <div>
        <dl>
            <dt>账户</dt>
            <dd><a href="javascript:;">账户</a></dd>
            <dd><a href="javascript:;">订单状态</a></dd>
            <dd><a href="javascript:;">我的收藏</a></dd>
        </dl>
    </div>
    <div>
        <dl>
            <dt>链接</dt>
            <dd><a href="javascript:;" class="footer_none"><i class="iconfont icon-weixin"></i></a>
                <a href="javascript:;" class="footer_none"><i class="iconfont icon-weibo"></i></a></dd>

        </dl>
        <dl>
                <dt>其他国家与地区</dt>
                <dd><a href="javascript:;">中国</a></dd>
                
            </dl>
    </div>
</div>
<p>
    <a href="javascript:;">隐私保护</a>
    <a href="javascript:;">条件条款</a>
    <a href="javascript:;">产品真伪鉴别</a>
    <span>&copy;MAKE-UP ART COSMETICS.ALL WORLDWIDE RIGHTS RESERVED.</span>
    <span>沪ICP备08005263号</span>
    <span>上海工商</span>
</p>