<div class="header">
    <div class="logo">
        <h1><a href="#"></a></h1>
    </div>
    <div class="nav">
        <ul>
            <li><a href="javascript:;">子弹头断货王</a></li>
            <li><a href="javascript:;">新品快讯</a></li>
            <li><a href="javascript:;">全部产品</a></li>
            <li><a href="javascript:;">热卖产品</a></li>
            <li  class="nav_spe"><a href="javascript:;">更多<span></span></a></li>
        </ul>
    </div>
    <div class="search">
        <ul>
            <li><a href="javascript:;"><i class="iconfont icon-search"></i></a></li>
            <li class="serch_spe"><a href="javascript:;"><i class="iconfont icon-youxiang"></i></a>
                <a href="html/login.html"><span>用户登录</span></a>
                <a href="javascript:;"><i class="iconfont icon-xiexiangbao"></i><span class="car">0</span></a>
                </a>
            </li>
           
        </ul>
    </div>
</div>