
 <script type="text/html" id="list-template">
       
        {{each list item i}}
        <dl>
            <dt  class="jump" data-id= "{{item.id}}">
                <h5>{{item.name}}</h5>
                <p class = "englishName">{{item.englishName}}</p>
                <p class = "color">色号： RUBY WOO {{item.color}} [RETRO MATTE]</p>
                <p class = "size"><span>{{item.size}}</span>毫升</p>
                <img src="/images/demo{{item.img}}.png" alt="" class = "img">
                <i class="iconfont icon-shoucang"></i>
            </dt>
            <dd>
                <span>￥<b class="price">{{item.price}}</b></span>
                <a href="javascript:;"class="addShoppingcar">加入购物车</a>
            </dd>
        </dl>
{{/each}}

</script>

